.inner-div-2,
.inner-div-3,
.inner-div-4 {
  background-color: #222222;
  border-radius: 10px;
  height: 97%;
  margin-top: auto;
  margin-bottom: auto;
}
.inner-div-2 {
  overflow: hidden;
}

.slr-1 {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slr-1-title {
  color: white;
  font-size: 19px;
  font-weight: 500;
}
.slr-1-people {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.slr-1-people img {
  max-width: 100%;
  width: 40%;
  margin-right: 5px;
}
.slr-1-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.slr-1-info img {
  max-width: 100%;
  width: 70%;
  margin-right: 5px;
}

.slr-2 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.slr-2-heading {
  font-size: 16px;
  color: rgba(199, 199, 199, 0.815);
  margin-top: 15px;
}
.slr-2 ul {
  list-style-type: none;
  margin-left: 20px;
}
.slr-2 ul li {
  color: rgba(255, 255, 255, 0.945);
  font-size: 15px;
}
