.third-left-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tlc-boxes {
  background: red;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.tlc-boxes:nth-child(odd) {
  width: 30%;
}
.tlc-boxes:nth-child(even) {
  width: 66%;
}
.tlc-boxes-1,
.tlc-boxes-2 {
  height: 240px;
}
.tlc-boxes-3,
.tlc-boxes-4 {
  height: 120px;
}
.tlc-boxes-5,
.tlc-boxes-6 {
  height: 215px;
}
.tlc-boxes-1 {
  background: linear-gradient(
      144.09deg,
      #ffffff -54.46%,
      rgba(255, 255, 255, 0) 79%
    ),
    #ff6b00;
}
.tlc-boxes-2 {
  background: linear-gradient(
      144.09deg,
      #ffffff -54.46%,
      rgba(255, 255, 255, 0) 79%
    ),
    #e3094a;
}
.tlc-boxes-3 {
  background: linear-gradient(
      144.09deg,
      #ffffff -54.46%,
      rgba(255, 255, 255, 0) 79%
    ),
    #615eea;
}
.tlc-boxes {
  display: flex;
  position: relative;
}
.tlc-boxes-inner-text {
  text-align: center;
  padding: 13px 7px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.301);
  width: 70%;
  margin: auto;
}
.tlc-boxes-icon {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 70px;
}
.tlc-boxes-icon img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 2px solid white;
}
.tlc-boxes.tlc-boxes-1 .tlc-boxes-icon:nth-child(2) {
  left: 80px;
  right: 10px;
  top: 5px;
  bottom: 4px;
}
